body {
  color: #1a1d1a;
}
img {
  display: block;
}
a {
  display: block;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
  }
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
select:focus,
input:focus {
  outline: none;
}

// 取消數字欄位小箭頭
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.scroll-style {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: #cecece;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #9c9ca0;
  }
}
