/*******************
 *  color          *
 *******************/
$danger: #c82829;

/*******************
 *  checkbox       *
 *******************/
.checkbox-control {
  position: relative;
  cursor: pointer;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    content: '';
  }
}

.gradient-mix-image {
  background: url('../image/bg.png'), linear-gradient(45deg, #54588c, #fff);
}
